@import './public/settings';
@import '../bower_components/foundation/scss/foundation/_functions';

//Foundation imoprts
@import 'foundation/components/grid';
@import 'foundation/components/visibility';
@import 'foundation/components/buttons';
@import 'foundation/components/button-groups';
@import 'foundation/components/sub-nav';


//Fonts: Lato and Oswald
@import url(https://fonts.googleapis.com/css?family=Oswald|Lato);

$margin-bottom: -142px;

html body {
  background-image: url('/assets/bg.jpg');
  height: 100%;
}

// ================== footer ===========================
.container {
  min-height: 100%;
  margin-bottom: $margin-bottom;
  margin:0;
}
.container:after{
  content:"";
  display: block;
  margin:0;
}
.footer, .container:after {
  height: 142px;
  margin:0;
}
.footer {
  background-image: url('/assets/facebook_grey.svg');
  background-repeat: no-repeat;
  height: 30px;
  background-position: center center;
  background-color: #353537;
}

// ===================== header =========================
header.top {
  background-image: url('/assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFF;
  height: 55px;

  h1 {
    background-image: url('/assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    margin-top: 0;
    span {
      visibility: hidden;
    }
  }
}

// =================== nav =============================
.nav {
  background-color: #353537;
  height: 30px;
  width: auto;
  text-align:center;

  h2 {
    padding-top: 2px;
    color: #818285;
    margin: 0;
    font-size: 16px;
    display: inline-block;
    &:nth-child(n+2):before {
      content: ' • ';
    }
    }
}